<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.js.stepcounter">


    <uses-permission android:name="com.google.android.gms.permission.ACTIVITY_RECOGNITION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="com.android.alarm.permission.SET_ALARM" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name="com.js.stepcounter.Application.AppController"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.StepCounter">
        <activity
            android:name="com.js.stepcounter.activity.ShareGPSActivity"
            android:exported="false" />
        <activity
            android:name="com.js.stepcounter.activity.FinishGpsDataActivity"
            android:exported="false" />
        <activity
            android:name="com.js.stepcounter.activity.GPSStartActivity"
            android:exported="false" />
        <activity android:name="com.js.stepcounter.activity.AdjustOrderActivity" />
        <activity android:name="com.js.stepcounter.activity.InstructionActivity" />
        <activity android:name="com.js.stepcounter.activity.ReminderActivity" />
        <activity android:name="com.js.stepcounter.activity.LevelActivity" />
        <activity android:name="com.js.stepcounter.activity.ArchivementDetailActivity" />
        <activity android:name="com.js.stepcounter.activity.ArchivementActivity" />
        <activity android:name="com.js.stepcounter.activity.MoreSettingActivity" />
        <activity android:name="com.js.stepcounter.activity.AddWaterActivity" />
        <activity android:name="com.js.stepcounter.activity.HistoryActivity" />
        <activity android:name="com.js.stepcounter.activity.WaterReminderSettingActivity" />
        <activity android:name="com.js.stepcounter.activity.HeathActivity" />
        <activity android:name="com.js.stepcounter.activity.StepReportActivity" />
        <activity android:name="com.js.stepcounter.activity.WaterSettingActivity" />
        <activity android:name="com.js.stepcounter.activity.WelcomeActivity" />
        <activity android:name="com.js.stepcounter.activity.PersonalInfomationActivity" />
        <activity android:name="com.js.stepcounter.activity.TrainingActivity" />
        <activity android:name="com.js.stepcounter.activity.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.js.stepcounter.activity.MainActivity" />

        <service android:name="com.js.stepcounter.sevices.SensorService"
            android:enabled="true"
            android:exported="false"/>

        <service
            android:name="com.js.stepcounter.sevices.LocationBgService"
            android:enabled="true"
            android:exported="false"
            android:foregroundServiceType="location" />

        <!-- Register the Alarm Receiver -->
        <receiver android:name="com.js.stepcounter.sevices.AlarmReceiver" />
        <receiver android:name="com.js.stepcounter.sevices.DailyReminderReceiver" />
        <receiver
            android:name="com.js.stepcounter.sevices.NotificationReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="MyAction" />
            </intent-filter>
        </receiver>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyD5hjR4XomLFZmUgwWKuGe-Ay5nBPg3FHU" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:permission="com.example.filesvisible.permission.READ"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

    </application>

</manifest>